
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    

<style>
html, body {
    padding:10px;
    margin:0px;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
body {
    background: #FFFFFF;
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.BtnCls{
    height:25px;
    width:130px;
    border:none;
    border-radius:3px;
    background-color:#0073AA;
    color:white;
}
th {
    background-color:#0073AA;
    color:#FFFFFF;
}

.TblBody {
    color: #4B4B4B;
    border: solid 1px #DCDCDC;
        font: 12px/1.2 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.ItemsBody {
    text-align: left;
    background-color: #0073AA;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
}

div.ui-datepicker{
 font-size:11px;
}
td {
    width:130px;
    text-align:left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.Prog {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    background-repeat: no-repeat;
    background-position: left;
    margin: -100px 0 0 -100px;
}
</style>
</head>
<body>
    <h3 style="padding:3px;background-color:#0073AA;color:#FFFFFF;margin:0px;">Scheme Claims Report</h3>
    <div style="height:35px;background-color:#CCC;padding:5px;margin:0px;">
        <table border="0" style="width:100%;border-collapse:collapse;">
            <tr>
                <td>From Date</td>
                <td><input type="date" class="getdate" id="FromDate" style="width:100%;" autocomplete="off"></td>
                <td>To Date</td>
                <td><input type="date" class="getdate" id="ToDate" style="width:100%;" autocomplete="off"></td>
                <td>Claimed Status</td>
                <td><select style="width:130px;" id="RptOption"><option disabled selected="selected" value="0">Please select</option><option value="1">All</option><option value="2">Yes</option><option value="3">No</option></select></td>
                <td><input type="button" value="Show Report" class="BtnCls" onclick="RunClaimsRpt()"/></td>
            </tr>
        </table>
    </div>

    <div id="preloader">
        <div id="status1" class="Prog">&nbsp;</div>
    </div>

    <div style="height:72%;width:100%;margin-top:3px; overflow-y:auto;overflow-x: auto;">
        <table id="ClaimsRptTbl" border="0" style="border-collapse:collapse;">
            <thead>
            <tr>
                <td class="ItemsBody">Sno.</td>
                <td class="ItemsBody">Scheme Name</td>
                <td class="ItemsBody" style="width:350px;">Customer Name</td>
                <td class="ItemsBody">Target Amount</td>
                <td class="ItemsBody">Taxable Value(SL)</td>
                <td class="ItemsBody">Sales Return(SR)</td>
                <td class="ItemsBody">Net Sales</td>
                <td class="ItemsBody">Applicable Status</td>
                <td class="ItemsBody">Claim Pct</td>
                <td class="ItemsBody numbers">Claim Amt</td>
                <td class="ItemsBody">Claim Type</td>
                <td class="ItemsBody">Claim Status</td>
                <td class="ItemsBody">Select</td>
                <td class="ItemsBody" style="display:none;">BodyId</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div style="height:35px;background-color:#CCC;padding-top:7px;padding-right:5px;text-align:right;">
          <input type="button" value="Raise Claim"  class="BtnCls" onclick="GetAllClaims()" />&nbsp;<input type="button" value="Cancel" class="BtnCls" onclick="Focus8WAPI.gotoHomePage()" />
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="../dist/simTree.js"></script>
    <script src="~/Scripts/FClient.js"></script>
    <script>
    $(".getdate").each(function () {
        $(this).datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0",
        });
    });

    $(window).on("load", function () {
        getSetPropertyForMastersField();
        $("#preloader").hide();
    });

    //$("#FromDate").val('01-01-2019');
    //$("#ToDate").val('31-12-2019');
    </script>
</body>
</html>



